In [1]:
import pandas as pd
import requests

url = 'http://universities.hipolabs.com/search?country=United+States'

res = requests.get(url)
res.raise_for_status()

In [3]:
data = res.json()

In [4]:
df = pd.DataFrame(data)
df.head()

,state-province,domains,web_pages,country,alpha_two_code,name
0,None,[marywood.edu],[http://www.marywood.edu],United States,US,Marywood University
1,None,[lindenwood.edu],[http://www.lindenwood.edu/],United States,US,Lindenwood University
2,None,[sullivan.edu],[https://sullivan.edu/],United States,US,Sullivan University
3,None,[fscj.edu],[https://www.fscj.edu/],United States,US,Florida State College at Jacksonville
4,None,[xavier.edu],[https://www.xavier.edu/],United States,US,Xavier University

In [10]:
df[df['domains'].apply(lambda row: len(row)) > 1].head()

,state-province,domains,web_pages,country,alpha_two_code,name
14,Pennsylvania,"[upmc.edu, upmc.com]",[https://www.upmc.com/],United States,US,University of Pittsburgh Medical Center
35,None,"[itt-tech.info, itt-tech.edu]",[http://itt-tech.info/],United States,US,ITT Technical Institute
164,None,"[augusta.edu, gru.edu]","[http://www.augusta.edu/, http://www.gru.edu/]",United States,US,Augusta University
228,None,"[csub.edu, csubak.edu]",[http://www.csub.edu/],United States,US,"California State University, Bakersfield"
231,None,"[csufresno.edu, fresnostate.edu]","[http://www.csufresno.edu/, http://www.fresnos...",United States,US,"California State University, Fresno"

In [11]:
df_exp = df.explode('domains')

In [16]:
df_exp[df_exp['name'].isin(
    df[df['domains'].apply(lambda row: len(row)) > 2]['name']
)]

,state-province,domains,web_pages,country,alpha_two_code,name
488,Indiana,indiana.edu,[https://bloomington.iu.edu/],United States,US,Indiana University - Bloomington
488,Indiana,iub.edu,[https://bloomington.iu.edu/],United States,US,Indiana University - Bloomington
488,Indiana,bloomington.iu.edu,[https://bloomington.iu.edu/],United States,US,Indiana University - Bloomington
507,None,jh.edu,[http://www.jhu.edu/],United States,US,Johns Hopkins University
507,None,jhu.edu,[http://www.jhu.edu/],United States,US,Johns Hopkins University
507,None,johnshopkins.edu,[http://www.jhu.edu/],United States,US,Johns Hopkins University
862,None,stonybrook.edu,"[http://www.stonybrook.edu/, http://www.fsl.cs...",United States,US,State University of New York at Stony Brook
862,None,fsl.cs.sunysb.edu,"[http://www.stonybrook.edu/, http://www.fsl.cs...",United States,US,State University of New York at Stony Brook
862,None,cs.sunysb.edu,"[http://www.stonybrook.edu/, http://www.fsl.cs...",United States,US,State University of New York at Stony Brook
862,None,lmc.cs.sunysb.edu,"[http://www.stonybrook.edu/, http://www.fsl.cs...",United States,US,State University of New York at Stony Brook

In [29]:
df_exp[df_exp['name'].isin(
    (df_exp.groupby('name')['name'].agg(['count']) > 1).reset_index()['name'].to_list()
)]

,state-province,domains,web_pages,country,alpha_two_code,name
0,None,marywood.edu,[http://www.marywood.edu],United States,US,Marywood University
1,None,lindenwood.edu,[http://www.lindenwood.edu/],United States,US,Lindenwood University
2,None,sullivan.edu,[https://sullivan.edu/],United States,US,Sullivan University
3,None,fscj.edu,[https://www.fscj.edu/],United States,US,Florida State College at Jacksonville
4,None,xavier.edu,[https://www.xavier.edu/],United States,US,Xavier University
...,...,...,...,...,...,...
2333,Florida,southflorida.edu,[https://www.southflorida.edu/],United States,US,South Florida State College
2334,Pennsylvania,alvernia.edu,[https://www.alvernia.edu/],United States,US,Alvernia University
2335,None,hauniv.edu,[https://www.hauniv.edu/],United States,US,Hellenic American University
2336,None,uhcno.edu,[https://uhcno.edu/],United States,US,University of Holy Cross
2337,None,upike.edu,[https://www.upike.edu/],United States,US,University of Pikeville

In [41]:
dff = df_exp.groupby('name', as_index=False)['name'].agg(['count'])
df_exp[df_exp['name'].isin(dff[dff['count'] > 1]['name'])]

,state-province,domains,web_pages,country,alpha_two_code,name
14,Pennsylvania,upmc.edu,[https://www.upmc.com/],United States,US,University of Pittsburgh Medical Center
14,Pennsylvania,upmc.com,[https://www.upmc.com/],United States,US,University of Pittsburgh Medical Center
35,None,itt-tech.info,[http://itt-tech.info/],United States,US,ITT Technical Institute
35,None,itt-tech.edu,[http://itt-tech.info/],United States,US,ITT Technical Institute
164,None,augusta.edu,"[http://www.augusta.edu/, http://www.gru.edu/]",United States,US,Augusta University
...,...,...,...,...,...,...
2261,None,cornellcollege.edu,[https://cornellcollege.edu],United States,US,Cornell College
2290,None,dewv.edu,[https://dewv.edu],United States,US,Davis & Elkins College
2298,Georgia,abac.edu,[https://www.abac.edu/],United States,US,Abraham Baldwin Agricultural College
2298,Georgia,stallions.abac.edu,[https://www.abac.edu/],United States,US,Abraham Baldwin Agricultural College
2307,None,jefferson.edu,[http://www.jefferson.edu/],United States,US,Thomas Jefferson University

In [44]:
df['domains'].apply(lambda row: ','.join(row)).head(20)

0              marywood.edu
1            lindenwood.edu
2              sullivan.edu
3                  fscj.edu
4                xavier.edu
5              tusculum.edu
6                   cst.edu
7            columbiasc.edu
8                clpccd.edu
9                keller.edu
10        monroecollege.edu
11                smccd.edu
12              losrios.edu
13              digipen.edu
14        upmc.edu,upmc.com
15                  cgu.edu
16                utrgv.edu
17    mountsaintvincent.edu
18                uasys.edu
19                 ecpi.edu
Name: domains, dtype: object